body {
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 920px;
}

h1 {
  font-family: 'Buenard', sans-serif;
  margin-top: 100px;
}

h2 {
  font-size: 14px;
}

hr {
  margin-top: 100px;
}

a, a:hover {
  color: #333;
}