body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.container {
  max-width: 920px;
}

h1 {
  font-family: 'Roboto', sans-serif;
  margin-top: 100px;
}

h2 {
  font-size: 14px;
  font-weight: 300;
}

hr {
  margin-top: 80px;
}

a, a:hover {
  color: #333;
}

#nav.affix {
  position: static;
}

@media (min-width: 768px) {
  .nav .active {
    font-weight: bold;
  }

  #nav.affix {
    position: fixed;
    top: 0;
  }

}